*, *:after, *:before {
  box-sizing: inherit;
}
* {margin:0;padding:0;border: 0 none; position: relative;}
:root {
	--fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	/* hexagon */
		--radius: calc(100vmin / 12);
		--width: calc(var(--radius)/.86602540378445 * 2);
		--height: calc(var(--radius)*2); /*calc(var(--radius) * .86602540378445);*/
    --Nhexa: 12;
    --gap: 1vmin;
	/* colors */
	  --bg: #ffffff; /*#1d1f20*/
    --bghexa: #ffffff;
    --title: #3aa0e2;
    --gray: #424242;
    --linkcolor: #64b4ed;
}
.bg{
 position: fixed;
 overflow-x: hidden;
 overflow-y: hidden;
 width: 100%;
 height: 100%;
 margin: 0;
}

html {
  box-sizing: border-box;
	font-family: var(--fonts);
	font-size: 1rem;
	color: var(--gray)
}
body {
	background: var(--bg);
  padding-right: calc(var(--width) * .5);
  overflow-x: scroll;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: var(--gray);
}
/* Setup the grid */
.honeycomb {
	display: grid;
	grid-template-columns: repeat(var(--Nhexa), 1fr);
	grid-gap: var(--gap);
	max-width: 100vmin;
  padding-left: calc(var(--width) * -.5);
}
.hexagon {
	background: var(--bghexa);
  width: var(--width);
  height: var(--height);
	overflow: hidden;
	transition: 1s;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
	filter: drop-shadow(0 0 1px #fff);
  cursor: pointer;
}
.hexagon.leer{
  /*background: linear-gradient(135deg, white 0%,lightgray 50%); /*radial-gradient(lightgray 50%, white 0%);*/
  opacity: 0.0;
  cursor: auto;
}
.hexagon.opac{
  /*background: linear-gradient(180deg, white 0%,lightgray 50%); /*radial-gradient(gray 50%,white 0%);*/
  opacity: 0.25;
  cursor: auto;
}
/* creating the honeycombstructure */
.hexagon:nth-child(2n) {margin: calc(var(--height) * -.53) calc(var(--width) * -0.25) 0 calc(var(--width) * -.25);}

/* Tiles */
.title {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	height: 100%;
	font-size: 2vmin;
	line-height: 1.2;
	/*transition: .75s .05s;*/
	hyphens: auto;
  text-align: center;
}
.title:hover  {
  transform: scale(1.1);
  z-index:  11;
}
.image
{
	background: #fff;
  min-width: var(--radius);
	min-height: var(--radius);
	max-width: var(--width);
	max-height: var(--height);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 50% 0%;
	/*transition: 1s;*/
	clip-path: inherit;
	z-index:  10;
}
.image:hover  {
  background-color: hsla(60, 75%, 75%, 1.0);
  opacity: 0.5;
  filter: grayscale(75%);
  z-index:  10;
}

.empty
{
	background: #fff;
  min-width: var(--radius);
	min-height: var(--radius);
	max-width: var(--width);
	max-height: var(--height);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 50% 0%;
	clip-path: inherit;
	z-index:  10;
  opacity: 0.5;
}

h2 {
	font-size: 100%;
	font-weight: 200;
	font-variant: small-caps;
	padding: 0 2vw;
}
.title p {
	font-size: 70%;
	line-height: 1.2;
	font-weight: 100;
	width: 100%;
}
.link {
	display: block;
	color: var(--gray);
	text-decoration: none;
  z-index: 11;
  transition: 0.25s;
  opacity: 0;
}
.link:hover {
	color: var(--linkcolor);
  opacity: 1;
}

@media only screen and (max-width: 450px) {
	.title p {display: none;}
	.title h2 {font-size: 1rem;}
}
