*,
*:before,
*:after {
  box-sizing: flex-box;
}
* {margin:0;padding:0;border: 0 none; position: relative;}
:root {
    --fonts: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    /* hexagon */
        --radius: calc(100vmin / 4);
        --width: calc(var(--radius)/.86602540378445 * 2);
        --height: calc(var(--radius)*2); /*calc(var(--radius) * .86602540378445);*/
    --Ncol: 12;
    --Nrow: 3;
    --gap: 1vmin;
    /* colors */
      --bg: #ffffff; /*#1d1f20*/
    --bghexa: #ffffff;
    --title: #415C7C;
    --gray: #4A4A4A;
    --linkcolor: #64b4ed;
}

html {
    font-family: var(--fonts);
    font-size: 2vmin;
    color: var(--gray);
}
body {
    background: var(--bg);
    color: var(--gray);
}

/* Setup the grid */

.grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    position: relative;
    grid-template-columns: repeat(var(--Ncol), [col] 1fr);
    grid-template-rows: [row1] 8vh [row2] 32vh [row3] 8vh [row4] 50vh [row5] auto;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: var(--gap);
}

/*   Project Title   */

    .hexagontitle {
        background: var(--bghexa);
        grid-column: col 1 / col 4;
        grid-row: row1;
        -webkit-clip-path: polygon(0 0, 100% 0, 80% 70%, 0 70%);
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
        z-index:  2;
    }
    .title{
        background: var(--bghexa);
        color: var(--title);
        font-size: calc(1rem + 1vmin);
        /*clip-path: inherit;*/
        z-index:  10;
    }
    .title h2 {
        font-size: 1.3rem;
        line-height: 1.1;
        font-weight: 100;
        letter-spacing: 0.08rem;
        margin: 2.5vh;
    }

/*   Project Header Image   */

    .mainimagecontainer{
        background: var(--bghexa);
        overflow: hidden;
        grid-column: col 1 / col 13;
        grid-row: row1 / row4;
        z-index: 1;
    }
    .mainimage{
          object-fit: cover;
          width: 100%;
          max-height: 100%;
    }

/*   Project Text   */

    .hexagontext {
        background: var(--bghexa);
        grid-column: col 3 / col 10;
        grid-row: row3 / row5;
        -webkit-clip-path: polygon(12% 0%, 92% 0, 100% 15%, 0% 22%);
        clip-path: polygon(12% 0%, 92% 0, 100% 15%, 0% 22%);
        filter: drop-shadow(0 0 1px #fff);
        z-index:  2;
    }
    .text {
        grid-column: col 4 / col 8;
        grid-row: row3 / row5;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: 100%;
        color: var(--gray);
        font-size: 0.75rem;
        line-height: 1.85;
        letter-spacing: 0.03rem;
        hyphens: auto;
        text-align: left;
        overflow: auto;
        z-index:  10;
    }
    .text h3 {
        color: var(--title);
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: 0.08rem;
        margin: 3vh 0;
    }

/*   Project  Image next to Text   */

    .hexagonimage
    {
        background: #fff;
        overflow: hidden;
        grid-column: col 9 / col 13;
        grid-row: row4;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 22% 100%, 0 50%, 22% 0);
        clip-path: polygon(100% 0, 100% 100%, 22% 100%, 0 50%, 22% 0);
        z-index:  3;
    }

    .image
    {
        background: #444;
        background-size: contain;
        min-width: var(--radius);
        min-height: var(--radius);
        max-height: var(--height);
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index:  10;
    }
