<!doctype html>
<html lang="de">

<head>
  <title>Homepage</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="./css/hexagongrid.css" />
  <!--script src="./js/mySketch.js" type="text/javascript"></script>-->
  <!--script src="./js/Delaunay.js" type="text/javascript"></script>-->

</head>

  <body>
    {% block content %}{% endblock %}

    <script src="./libs/p5.js"></script>
    <script src="./libs/p5.dom.js"></script>
  </body>
</html>
