{% extends './_layoutproject.nunjucks' %}

{% block title %}
    <title>{{ project.name }}</title>
{% endblock %}

{% block content %}
<div class="grid">
<!-- Loops through "content" array -->
  {% for childs in project.children%}
  {% if childs.type =="title"%}
      <div class='hexagontitle'>
        <div class='title'>
        {% markdown %}
        {% include childs.path %}
        {% endmarkdown %}
        </div>
      </div>
  {% elif childs.type =="mainimg"%}
      <div class='mainimagecontainer'>
        <img src="{{childs.path}}" alt="{{childs.name}}" class='mainimage'>
      </div>
  {% elif childs.type =="img"%}
      <div class='hexagonimage'>
        <img src="{{childs.path}}" alt="{{childs.name}}" class='image'>
      </div>
  {% else %}
        <div class='hexagontext'> </div>
        <div class='text'>
          {% markdown %}
          {% include childs.path %}
          {% endmarkdown %}
        </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
